.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  border-top: 3px solid greenyellow;

  background-color: ghostwhite;
}
/* .header {
  display: flex;
  flex-direction: row;
  background-color: ghostwhite;
  border-bottom: 1px solid #eee;
  border-bottom: 3px solid greenyellow;
} */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: ghostwhite;
  border-bottom: 1px solid #eee;
  border-bottom: 3px solid greenyellow;
}

.title {
  margin: 10;
}

.user-info {
  margin-right: 20px; /* Adjust margin as needed */
}
.user-info button {
  margin-left: 20px;
}

#title-holder {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  display: block; /* Adjust the visibility of the modal */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 9999; /* Ensure it's above other content */
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(219, 249, 175);
  padding: 30px;
  border-radius: 50px;
}
.modal-content input[type="text"],
.modal-content input[type="password"] {
  margin-left: 20px;
  margin-right: 20px;
  /* Adjust the value as needed */
}

/* Add these styles to your CSS file */
.ticket-purchase-form {
  text-align: center;
  margin-top: 20px;
}

.ticket-purchase-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ticket-purchase-form label,
.ticket-purchase-form input {
  margin-bottom: 10px;
}
.input-group {
  margin-top: 10px;
  padding-left: 100px;
  padding-right: 100px;
}

.signup-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 3px solid blue; /* Correct syntax for setting border */
  background-color: rgb(210, 248, 235);
}

.signup-form button[type="submit"] {
  margin-top: 20px; /* Adjust the value as needed */
}
