.seat-selection {
  display: flex;
  justify-content: center; /* Center the seat selection horizontally */
  align-items: center; /* Center the seat selection vertically */
}

.section {
  margin: 10px;
  text-align: center;
}

/* Apply different background colors based on row index */
.seat-row:nth-child(1) .seat {
  background-color: rgb(232, 89, 232);
}

.seat-row:nth-child(2) .seat {
  background-color: rgb(192, 129, 11);
}

.seat-row:last-child .seat {
  background-color: rgb(158, 153, 153);
}

.seat {
  font-size: 12px;
  padding: 5px;
  margin: 2px;
  transition: background-color 0.3s ease;
}

.selected,
.seat:hover {
  background-color: rgb(63, 181, 63); /* Green color for selected or hovered seats */
}

